<h1 id="tableLabel">Tareas</h1>

<p>Aqui tienes tus tareas.</p>

<p *ngIf="!tareas"><em>Loading...</em></p>


<div class="row" *ngIf="tareas">
  
  <div class="col-12 col-sm-6 mb-5" *ngFor="let tarea of tareas">
	  <div id="tarea-{{ tarea.id }}" class="card tarea tarea-{{ tarea.id }}" >
		<div  class="position-absolute tag d-flex">
			<span *ngIf="tarea.fechaFinalizacion" class="badge badge badge-dark">Terminada</span>
			<span *ngIf="!tarea.fechaFinalizacion" class="badge badge-success">Abierta</span>
			<span *ngIf="!tarea.importante" class="badge badge-danger ml-2">IMPORTANTE</span>
		</div>
	 	 <div class="card-body">
			<h5 class="card-title">{{ tarea.nombreTarea }}</h5>
			<ng-container *ngIf="tarea.creador">
				<strong>Creada por: </strong><i>{{ tarea.creador }}</i>
			</ng-container>
			<p><strong>Fecha Creacion: </strong> <i>{{ tarea.fechaCreacion | date }}</i><br>
			<ng-container *ngIf="tarea.fechaFinalizacion">
				<strong>Fecha Finacizacion: </strong><i>{{ tarea.fechaFinalizacion | date }}</i>
			</ng-container>
			</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
  </div>


