<h1 id="tableLabel">Tareas</h1>

<p>Aqui tienes tus tareas.</p>

<p *ngIf="!tareas"><em>Loading...</em></p>


<ul id="tareasFilters" class="nav nav-tabs my-5 justify-content-end">
	<li id="tareasFilters-activas" class="nav-item">
		<a class="nav-link active" href="#">Activas</a>
	</li>
	<li id="tareasFilters-cerradas" class="nav-item">
		<a class="nav-link" href="#">Cerradas</a>
	</li>
	<li id="tareasFilters-importantes" class="nav-item">
		<a class="nav-link" href="#">Importantes</a>
	</li>
	<li id="tareasFilters-nueva" class="nav-item">
		<a class="nav-link" href="#">Añadir <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.75 4.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path></svg></a>
	</li>
</ul>

<div class="row" *ngIf="tareas">

	<div class="col-12 col-sm-6 mb-5" *ngFor="let tarea of tareas">
		<div id="tarea-{{ tarea.id }}" class="card tarea tarea-{{ tarea.id }}" >
			<div  class="position-absolute tag d-flex">
				<span *ngIf="tarea.fechaFinalizacion" class="badge badge badge-dark">Terminada</span>
				<span *ngIf="!tarea.fechaFinalizacion" class="badge badge-success">Abierta</span>
				<span *ngIf="!tarea.importante" class="badge badge-danger ml-2">IMPORTANTE</span>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ tarea.nombreTarea }}</h5>
				<ng-container *ngIf="tarea.creador">
					<strong>Creada por: </strong><i>{{ tarea.creador }}</i>
				</ng-container>
				<p><strong>Fecha Creacion: </strong> <i>{{ tarea.fechaCreacion | date }}</i><br>
				<ng-container *ngIf="tarea.fechaFinalizacion">
					<strong>Fecha Finacizacion: </strong><i>{{ tarea.fechaFinalizacion | date }}</i>
				</ng-container>
				</p>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a [routerLink]="['/tareas', tarea.id]" class="btn btn-primary ml-auto">Ver más</a>
			</div>
		</div>
	</div>


