<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']">Task Manager NET</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
			aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
				<ul class="navbar-nav flex-grow">
					<li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
						<a class="nav-link text-dark" [routerLink]="['/']">Home</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-dark" [routerLink]="['/tareas']">Tareas</a>
					</li>
					<li *ngIf="usuarios" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
						aria-haspopup="true" aria-expanded="false">
							<img src="https://image.flaticon.com/icons/png/512/64/64572.png" alt="{{ usuarios.name }}" class="img-thumbnail">
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<span class="dropdown-item text-right" [routerLink]="['/']">Hello, {{ usuarios.name }}</span>
							<a class="dropdown-item text-right" [routerLink]="['/new-tarea']">New task</a>
							<a class="dropdown-item text-right" [routerLink]="['/user/', usuarios.id]">Your tasks</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-right" [routerLink]="['/']">Exit</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
